{{#each this}}
<div class="panel-group" id="accordion">
  	<div class="panel panel-default">
	    <div class="panel-heading">
	      	<h4 class="panel-title">
	        	<a data-toggle="collapse" data-parent="#accordion" href="#{{id}}">
	          		<p>{{name}}</p>
	        	</a>
	      	</h4>
	    </div>
    	
    	<div id="{{id}}" class="panel-collapse collapse">
      		<div class="panel-body">
        		<div class="row">
        			<div class="col-md-2">
        				<a href="{{link}}"><img class="img-responsive" src="{{group_photo.photo_link}}"></a>
        			</div>
        			{{!-- <div class="col-md-2"></div> --}}
        			<div class="col-md-10">
        				{{{description}}}
        			</div>
        		</div>
      		</div>
    	</div>
	</div>
</div>
{{/each}}